
.navbar-menu .active {
    padding-bottom: 2px !important;
    border-bottom: 2px solid #49557e !important;
}   

li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: tomato;
    top: -8px;
    right: -8px;
}

@media (max-width: 1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;    
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;    
        font-size: 15px;
    }
}

.navbar-profile:hover .navbar-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    /* margin-top: 12px; */
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
}

@media (max-width: 750px) {

    .navbar-menu {
        display: none;
    }
}